.product-row {
    font-family: "Tkt-regular";
    display: flex;
    align-items: center;
    /* margin-top: 140px; */
    gap: 30px;
    /* width: 97.5%; */
    /* justify-content: center; */
    align-items: left;
    border: 1px solid black;
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.assets-product {
    display: flex;
    flex-direction: column;
}